@{
    ViewData["Title"] = "Anasayfa";
}

@model BetScrapInfo.WebUI.Models.UrlViewModel

<style>
    .lineUrlcs {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    .saveBtn {
        margin-left: 20px;
    }

    .saveNewUrl {
        margin-left: 20px;
    }

    .inptcs {
        width: 100%;
        border-radius: 15%;
    }

    .delLine {
        margin-left: 20px;
    }

    .inptcs:focus {
        outline: none;
    }

    .delBtn {
        margin-left: 20px;
    }

    .rounded-circle {
        margin: 10%;
    }



    /* Absolute Center Spinner */
    .loadingInHome {
        position: fixed;
        z-index: 99999;
        height: 2em;
        width: 2em;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

        /* Transparent Overlay */
        .loadingInHome:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loadingInHome:not(:required) {
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }

            .loadingInHome:not(:required):after {
                content: '';
                display: block;
                font-size: 10px;
                width: 1em;
                height: 1em;
                margin-top: -0.5em;
                -webkit-animation: spinner 1500ms infinite linear;
                -moz-animation: spinner 1500ms infinite linear;
                /*   -ms-animation: spinner 1500ms infinite linear;*/
                -o-animation: spinner 1500ms infinite linear;
                animation: spinner 1500ms infinite linear;
                border-radius: 0.5em;
                -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
                box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            }

    .runBtn {
        margin-left: 80%;
        color: #fff;
        font-weight: 500;
    }
    body {
        background-image: url(/images/ftblbackgrnd.png);
    }
    .btn-info {
        color: #fff;
        background-color: #01dcff;
        border-color: #00dcff;
    }
</style>
<link href="/css/toastr.min.css" rel="stylesheet" type="text/css" />
<link href="~/images/football-ball.svg" rel="icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<div class="container-fluid"> <div style="font-weight:700; color:white;">Link Sayısı: @Model.UrlList.Count</div> <input type="button" value="Çalıştır" class="btn btn-success btn-lg runBtn" /> </div>
<div class="container-fluid">

    @foreach (var item in Model.UrlList)
    {
        <div class="col-lg-12 lineUrlcs">
            <input txturl="@item.Id" type="text" class="inptcs" value="@item.iUrl" />

            <input saveid="@item.Id" type="button" value="Kaydet" class="btn btn-success btn-sm saveBtn" />

            <input delid="@item.Id" type="button" value="Sil" class="btn btn-danger delBtn" />
        </div>
    }
    <div class="col-lg-12 lineUrlcs appendLine">


    </div>

    <div class="container-fluid row">
        <div class="col-lg-11"></div>
        <div class="col-lg-1 "><a class="rounded-circle btn btn-info btn-xs pluscs"><i class="fas fa-plus"></i></a></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script src="~/js/toastr.min.js"></script>
<script>


    $('.saveBtn').on('click', function saveUrl() {

        var saveid = $(this).attr('saveid');
        var url = $(`input[txturl=${saveid}]`).val();

        var data = {
            Id: saveid,
            Url: url
        };

        $.ajax({
            type: "POST",
            url: "/Home/saveUrl",
            data: data,
            success: function (response) {
                if (response == true) {
                    sucMes("Başarılı", "Url Başarıyla Kaydedildi");
                    setTimeout(function myfunction() {
                        window.location.reload();
                    }, 1000);
                }
                else {
                    warningMes("Başarısız", "Url Kaydedilemedi");
                }
            },
            dataType: "json"
        });
    });

    $('.delBtn').on('click', function delUrl() {
        var delid = $(this).attr('delid');
        var data = {
            Id: delid,
        };

        $.ajax({
            type: "POST",
            url: "/Home/delUrl",
            data: data,
            success: function (response) {
                if (response == true) {

                    sucMes("Başarılı", "Url Başarıyla Silindi");
                    setTimeout(function myfunction() {
                        window.location.reload();
                    }, 1000);
                }
                else {

                    warningMes("Başarısız", "Url Silinemedi");

                }

            },
            dataType: "json"
        });

    });

    $('.pluscs').on('click', function appendUrl() {
        var html = '';
        $('.appendLine').html(html);

        html = `<input txturl="" type="text" class="inptcs inpTakeUrl" placeholder="Url Yazınız" value="" />

<input  type="button" value="Kaydet" class="btn btn-warning btn-sm saveNewUrl " />

<input  type="button" id="ds" value="Sil" class="btn btn-danger delLine" />`;

        $('.appendLine').append(html);

    });

    $("body").on("click", ".delLine", function () {

        var html = "";

        $('.appendLine').html(html);

    });

    $("body").on("click", ".saveNewUrl", function () {

        var data = {
            Url: $(".inpTakeUrl").val()
        };

        $.ajax({
            type: "POST",
            url: "/Home/addUrl",
            data: data,
            success: function (response) {
                if (response == true) {

                    sucMes("Başarılı", "Url Başarıyla Eklendi");
                    setTimeout(function myfunction() {
                        window.location.reload();
                    }, 1000);
                }
                else {

                    warningMes("Başarısız", "Url Eklenirken Bir Hata Oluştu. Aynı Urlden içeride kayıtlı olabilir.");

                }
            },
            dataType: "json"
        });

    });


    $(".runBtn").on('click', function showRunCss() {

        sucMes("Kron başarıyla çalıştırıldı.");

    });


    function warningMes(title, message) {

        Command: toastr["warning"](message, title)

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    }

    function sucMes(title, message) {

        Command: toastr["success"](message, title)

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    }



</script>